<footer class="bg-gray-100 p-4">
<div class="flex flex-row justify-between border-b-2">
  <%= image_tag "logo.jpg", alt: 'logo.png', width: "200px", class: 'p-4' %>
  <div class="flex flex-row">
    <p class="px-2 py-3"> Follow Us.</p>
    <ul class="flex flex-row">
        <li class="p-2">
            <a target="_blank" href="https://www.instagram.com/bazzardent" aria-label="İnstagram">
                <div class="svg">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="32" height="32" x="0" y="0" viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512 512" xml:space="preserve" class="hovered-paths"><g><path d="M373.406 0H138.594C62.172 0 0 62.172 0 138.594V373.41C0 449.828 62.172 512 138.594 512H373.41C449.828 512 512 449.828 512 373.41V138.594C512 62.172 449.828 0 373.406 0zm108.578 373.41c0 59.867-48.707 108.574-108.578 108.574H138.594c-59.871 0-108.578-48.707-108.578-108.574V138.594c0-59.871 48.707-108.578 108.578-108.578H373.41c59.867 0 108.574 48.707 108.574 108.578zm0 0" fill="#000000" data-original="#000000" class="hovered-path"></path><path d="M256 116.004c-77.195 0-139.996 62.8-139.996 139.996S178.804 395.996 256 395.996 395.996 333.196 395.996 256 333.196 116.004 256 116.004zm0 249.976c-60.64 0-109.98-49.335-109.98-109.98 0-60.64 49.34-109.98 109.98-109.98 60.645 0 109.98 49.34 109.98 109.98 0 60.645-49.335 109.98-109.98 109.98zM399.344 66.285c-22.813 0-41.367 18.559-41.367 41.367 0 22.813 18.554 41.371 41.367 41.371s41.37-18.558 41.37-41.37-18.558-41.368-41.37-41.368zm0 52.719c-6.258 0-11.352-5.094-11.352-11.352 0-6.261 5.094-11.351 11.352-11.351 6.261 0 11.355 5.09 11.355 11.351 0 6.258-5.094 11.352-11.355 11.352zm0 0" fill="#000000" data-original="#000000" class="hovered-path"></path></g></svg>
                </div>
            </a>
        </li>
        <li class="p-2">
            <a target="_blank" href="https://www.facebook.com/bazzardent" aria-label="Facebook">
                <div class="svg">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" x="0" y="0" viewBox="0 0 155.139 155.139" style="enable-background:new 0 0 32 32" xml:space="preserve" class=""><g transform="matrix(0.79,0,0,0.79,16.289594993591308,16.289595794677744)"><path d="M89.584 155.139V84.378h23.742l3.562-27.585H89.584V39.184c0-7.984 2.208-13.425 13.67-13.425l14.595-.006V1.08C115.325.752 106.661 0 96.577 0 75.52 0 61.104 12.853 61.104 36.452v20.341H37.29v27.585h23.814v70.761h28.48z" style="" fill="#010002" data-original="#010002" class=""></path></g></svg>
                </div>
            </a>
        </li>
        <li class="p-2">
            <a target="_blank" href="https://www.tiktok.com/@bazzardent" aria-label="Tiktok">
                <div class="svg">
                    <svg fill="#000000" width="32" height="32" viewBox="0 0 24 24" role="img" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><title>TikTok icon</title><path d="M12.53.02C13.84 0 15.14.01 16.44 0c.08 1.53.63 3.09 1.75 4.17 1.12 1.11 2.7 1.62 4.24 1.79v4.03c-1.44-.05-2.89-.35-4.2-.97-.57-.26-1.1-.59-1.62-.93-.01 2.92.01 5.84-.02 8.75-.08 1.4-.54 2.79-1.35 3.94-1.31 1.92-3.58 3.17-5.91 3.21-1.43.08-2.86-.31-4.08-1.03-2.02-1.19-3.44-3.37-3.65-5.71-.02-.5-.03-1-.01-1.49.18-1.9 1.12-3.72 2.58-4.96 1.66-1.44 3.98-2.13 6.15-1.72.02 1.48-.04 2.96-.04 4.44-.99-.32-2.15-.23-3.02.37-.63.41-1.11 1.04-1.36 1.75-.21.51-.15 1.07-.14 1.61.24 1.64 1.82 3.02 3.5 2.87 1.12-.01 2.19-.66 2.77-1.61.19-.33.4-.67.41-1.06.1-1.79.06-3.57.07-5.36.01-4.03-.01-8.05.02-12.07z"></path></g></svg>
                </div>
            </a>
        </li>
    </ul>
  </div>
</div>
<div class="flex flex-row justify-between p-4"> 
    <div class="flex flex-col">
        <%= link_to "Our Values" ,  root_path, class: "py-1" %>
        <%= link_to "Our Principles" ,  root_path, class: "py-1" %>
        <%= link_to "Quality Management" ,  root_path, class: "py-1" %>
        <%= link_to "Recruitment Process" ,  root_path, class: "py-1" %>
    </div>

    <div class="flex flex-col">
        <%= link_to "Products" ,  root_path %>
        <%= link_to "product Category 1" ,  root_path, class: "py-1" %>
        <%= link_to "product Category 2" ,  root_path, class: "py-1" %>
        <%= link_to "product Category 3" ,  root_path, class: "py-1" %>
        <%= link_to "product Category 4" ,  root_path, class: "py-1" %>
        
    </div>

    <div class="flex flex-col">
        <%= link_to "News" ,  root_path, class: "py-1" %>
        <%= link_to "Events" ,  root_path, class: "py-1" %>
        <%= link_to "Contacts" ,  root_path, class: "py-1" %>
    </div>

    <div class="flex flex-col">
        <%= link_to "Address details" ,  root_path, class: "py-1" %>
        <%= link_to "info@bazzar.com" ,  root_path, class: "py-1" %>
        <%= link_to "+2 010 18 480 590" ,  root_path, class: "py-1" %>
    </div>

</div>      
</footer>
